@import 'normalize.min.css';
@import 'text-field.min.css';
html {
  font-size: 24px;
  min-height: 100%;
  width: 100%;
}
@media (max-width: 840px) and (orientation: portrait), (max-width: 1280px) and (orientation: landscape) {
  html {
    font-size: 16px;
  }
}
.md-display4 {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 112px;
  font-weight: 300;
}
.md-display3 {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 56px;
  font-weight: 400;
}
.md-display2 {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 45px;
  font-weight: 400;
}
.md-display1 {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 34px;
  font-weight: 400;
}
.md-headline {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.md-title {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.md-subheading {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
@media (max-width: 840px) and (orientation: portrait), (max-width: 1280px) and (orientation: landscape) {
  .md-subheading {
    font-size: 16px;
  }
}
.md-body2,
.md-nav-drawer .md-nav-list li,
.md-nav-drawer .md-nav-list a {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 13px;
  font-weight: 500;
}
@media (max-width: 840px) and (orientation: portrait), (max-width: 1280px) and (orientation: landscape) {
  .md-body2,
  .md-nav-drawer .md-nav-list li,
  .md-nav-drawer .md-nav-list a {
    font-size: 14px;
  }
}
.md-body1 {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 13px;
  font-weight: 400;
}
@media (max-width: 840px) and (orientation: portrait), (max-width: 1280px) and (orientation: landscape) {
  .md-body1 {
    font-size: 14px;
  }
}
.md-caption {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.md-button-text {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}
.md-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  display: inline-flex;
  flex-direction: column;
  margin: 0.5rem;
  overflow: hidden;
}
.md-rich-media {
  background: #e0e0e0 no-repeat center fixed;
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.md-rich-media:after {
  padding-bottom: 56.25%;
  content: "";
  display: block;
  width: 1px;
  margin-left: -1px;
  background-color: orange;
}
.md-rich-media .media {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.md-rich-media.square:after {
  padding-bottom: 100%;
}
.md-rich-media+.md-ptitle {
  padding-top: 1.5rem;
}
.md-ptitle {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.md-ptitle.avatar {
  padding: 1rem;
}
.md-ptitle.avatar>span {
  margin-left: 3rem;
}
.md-ptitle>span {
  display: block;
}
.md-action {
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 48px;
  margin: 0;
  padding: 0;
  position: relative;
}
.md-action>.md-button.md-icon {
  height: 48px;
  line-height: 48px;
  width: 48px;
}
.md-sup-text {
  width: 100%;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 1rem;
  box-sizing: border-box;
  line-height: 2em;
}
.md-sup-text:last-child {
  padding-bottom: 1.5rem;
}
@media (max-width: 840px) and (orientation: portrait), (max-width: 1280px) and (orientation: landscape) {
  .md-sup-text {
    font-size: 14px;
  }
}
/* Divider */
.md-divider {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  box-sizing: border-box;
  height: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* Avatar */
.md-avatar {
  background-color: #e0e0e0;
  border-radius: 50%;
  float: left;
  height: 40px;
  width: 40px;
}
/* Button */
.md-button {
  background: none;
  border: none;
  border-radius: 2px;
  display: inline-block;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  margin: 0.5rem;
  min-width: 88px;
  overflow: hidden;
  padding: 0 0.5rem;
  text-transform: capitalize;
  outline: none;
}
.md-button.disabled {
  color: rgba(0,0,0,0.26);
}
.md-button.dense {
  font-size: 13px;
  height: 32px;
}
.md-button:not(.raised):not(.disabled):hover {
  background: rgba(0,0,0,0.04);
}
.md-button:not(.raised):not(.disabled):focus {
  background: rgba(0,0,0,0.16);
}
.md-button.raised {
  box-shadow: none;
  margin: 0.5rem 0;
  padding: 0 1rem;
}
.md-button.raised:not(.disabled):hover,
.md-button.raised:not(.disabled):focus {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.md-button.raised:not(.disabled):focus {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24), inset 0 0 0 1000rem rgba(0,0,0,0.12);
}
@media (max-width: 840px) and (orientation: portrait), (max-width: 1280px) and (orientation: landscape) {
  .md-button.raised {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .md-button.raised:not(.disabled):focus {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), inset 0 0 0 1000rem rgba(0,0,0,0.12);
  }
}
.md-button.md-icon {
  border-radius: 50%;
  display: inline-block;
  float: right;
  font-size: 0;
  height: 56px;
  line-height: 56px;
  margin: 0;
  min-height: 0;
  min-width: 0;
  padding: 0;
  width: 56px;
}
.md-button.md-icon.mini {
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.md-button.md-icon.fab {
  background: #3f51b5;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.md-button.md-icon.fab:not(.disabled):hover,
.md-button.md-icon.fab:not(.disabled):focus {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.md-button.md-icon.fab:not(.disabled):focus {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), inset 0 0 0 1000rem rgba(0,0,0,0.12);
}
.md-button.md-icon:before {
  line-height: inherit;
}
/* Lists */
.md-list {
  display: inline-flex;
  flex-direction: column;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  min-height: 40px;
  padding: 0;
}
.md-list li,
.md-list a {
  align-items: center;
  display: inline-flex;
  flex: 1;
  font-size: 16px;
  height: 48px;
  padding: 0 1rem;
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}
.md-list li:first-child,
.md-list a:first-child {
  margin-top: 0.5rem;
}
.md-list li:last-child,
.md-list a:last-child {
  margin-bottom: 0.5rem;
}
.md-list li.md-icon>span,
.md-list a.md-icon>span {
  padding-left: 48px;
}
.md-list li span:first-child,
.md-list a span:first-child {
  flex: 1;
}
.md-list.avatar li,
.md-list.avatar a {
  min-height: 56px;
}
.md-list.avatar li>span,
.md-list.avatar a>span {
  flex: 1;
}
.md-list.avatar li>.md-avatar~span,
.md-list.avatar a>.md-avatar~span {
  padding-left: 32px;
}
.md-list.avatar li>.md-icon,
.md-list.avatar a>.md-icon {
  flex: 0;
}
.md-list.avatar li>.md-icon:before,
.md-list.avatar a>.md-icon:before {
  float: right;
}
.md-list.avatar li.dense,
.md-list.avatar a.dense {
  height: 48px;
}
.md-list.twoline li,
.md-list.twoline a {
  height: 72px;
}
.md-list.twoline li.dense,
.md-list.twoline a.dense {
  height: 60px;
}
.md-list.threeline li,
.md-list.threeline a {
  height: 88px;
}
.md-list.threeline li.dense,
.md-list.threeline a.dense {
  height: 76px;
}
.md-list.twoline li >span,
.md-list.threeline li >span,
.md-list.twoline a >span,
.md-list.threeline a >span {
  display: block;
}
.md-list.twoline li .ptext,
.md-list.threeline li .ptext,
.md-list.twoline a .ptext,
.md-list.threeline a .ptext,
.md-list.twoline li .stext,
.md-list.threeline li .stext,
.md-list.twoline a .stext,
.md-list.threeline a .stext {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.md-list.twoline li .ptext,
.md-list.threeline li .ptext,
.md-list.twoline a .ptext,
.md-list.threeline a .ptext {
  font-size: 16px;
}
.md-list.twoline li .stext,
.md-list.threeline li .stext,
.md-list.twoline a .stext,
.md-list.threeline a .stext {
  font-size: 14px;
}
.md-list.dense li,
.md-list.dense a {
  font-size: 13px;
  min-height: 40px;
}
.md-list.dense li:first-child,
.md-list.dense a:first-child {
  margin-top: 0.25rem;
}
.md-list.dense.avatar li,
.md-list.dense.avatar a {
  height: 48px;
}
.md-list.dense.twoline li,
.md-list.dense.twoline a {
  height: 60px;
}
.md-list.dense.threeline li,
.md-list.dense.threeline a {
  height: 76px;
}
.md-appbar {
  height: 64px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  align-items: center;
  background-color: #3f51b5;
  color: #fff;
  display: flex;
}
.md-appbar .md-icon:before {
  margin-left: 0.5rem;
  padding: 0.66667rem;
}
.md-appbar .md-title {
  flex: 1;
  padding-bottom: 1.75px;
  padding-left: 1rem;
}
.md-appbar .md-nav-switch {
  display: inline-block;
}
@media (max-width: 840px) and (orientation: portrait) {
  .md-appbar {
    height: 56px;
  }
}
@media (max-width: 1280px) and (orientation: landscape) {
  .md-appbar {
    height: 48px;
  }
}
.md-nav-drawer {
  background: #fff;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: inline-block;
  left: 0;
  max-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: transform 0.225s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(100% - 64px);
  z-index: 1000;
}
.md-nav-drawer .md-nav-list {
  background: #fff;
  border-top: 1px solid rgba(0,0,0,0.12);
  display: inline-flex;
  flex-direction: column;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  min-height: 40px;
  padding: 0;
  width: 100%;
}
.md-nav-drawer .md-nav-list:first-child {
  border-top: none;
}
.md-nav-drawer .md-nav-list li,
.md-nav-drawer .md-nav-list a {
  align-items: center;
  display: inline-flex;
  flex: 1;
  font-size: 16px;
  height: 48px;
  padding: 0 1rem;
  color: rgba(0,0,0,0.87);
  text-decoration: none;
  cursor: pointer;
}
.md-nav-drawer .md-nav-list li:first-child,
.md-nav-drawer .md-nav-list a:first-child {
  margin-top: 0.5rem;
}
.md-nav-drawer .md-nav-list li:last-child,
.md-nav-drawer .md-nav-list a:last-child {
  margin-bottom: 0.5rem;
}
.md-nav-drawer .md-nav-list li.md-icon>span,
.md-nav-drawer .md-nav-list a.md-icon>span {
  padding-left: 48px;
}
.md-nav-drawer .md-nav-list li>span,
.md-nav-drawer .md-nav-list a>span {
  line-height: 48px;
}
.md-nav-drawer .md-nav-list .md-subheader {
  color: rgba(0,0,0,0.54);
  cursor: default;
}
@media (max-width: 840px) and (orientation: portrait), (max-width: 1280px) and (orientation: landscape) {
  .md-nav-drawer {
    max-width: 280px;
  }
}
.md-content {
  color: rgba(0,0,0,0.87);
  display: flex;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 13px;
  font-weight: 400;
  max-width: 1600px;
  width: 100%;
  flex-direction: column;
}
@media (max-width: 840px) and (orientation: portrait), (max-width: 1280px) and (orientation: landscape) {
  .md-content {
    font-size: 14px;
  }
}
.md-layout {
  display: block;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}
.md-layout .md-nav-switch {
  cursor: pointer;
}
.md-layout.navd-temporary.navd-visible {
  overflow-y: hidden;
}
.md-layout.navd-temporary.navd-visible .scrim {
  background: rgba(0,0,0,0.54);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.md-layout.navd-temporary.navd-visible .md-nav-drawer {
  transform: translate(0);
  box-shadow: 0 19px 38px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.22);
}
.md-layout.navd-temporary.navd-invisible .md-nav-drawer {
  transform: translate(-320px);
}
.md-layout.navd-temporary .md-nav-drawer {
  transform: translateX(-320px);
}
@media (max-width: 840px) and (orientation: portrait), (max-width: 1280px) and (orientation: landscape) {
  .md-layout.navd-temporary .md-nav-drawer,
  .md-layout.navd-temporary.navd-invisible .md-nav-drawer {
    transform: translate(-280px);
  }
}
.md-layout.navd-permanent .md-nav-switch {
  display: none;
}
.md-layout.navd-permanent .md-nav-drawer {
  transform: translateX(0);
}
.md-layout.navd-permanent .md-content {
  margin-left: 320px;
  width: calc(100% - 320px);
}
@media (max-width: 840px) and (orientation: portrait), (max-width: 1280px) and (orientation: landscape) {
  .md-layout.navd-permanent .md-nav-switch {
    display: inline-flex;
  }
  .md-layout.navd-permanent .md-content {
    margin-left: 0;
    width: 100%;
  }
  .md-layout.navd-permanent .md-nav-drawer {
    transform: translateX(-280px);
  }
  .md-layout.navd-permanent.navd-visible {
    overflow-y: hidden;
  }
  .md-layout.navd-permanent.navd-visible .scrim {
    background: rgba(0,0,0,0.54);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .md-layout.navd-permanent.navd-visible .md-nav-drawer {
    transform: translate(0);
    box-shadow: 0 19px 38px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.22);
  }
  .md-layout.navd-permanent.navd-invisible .md-nav-drawer {
    transform: translate(-280px);
  }
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("MaterialIcons-Regular.eot") /* For IE6-8 */;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("MaterialIcons-Regular.woff2") format('woff2'), url("MaterialIcons-Regular.woff") format('woff'), url("MaterialIcons-Regular.ttf") format('truetype');
}
/* fallback */
.material-icons {
  display: none;
}
.md-icon:before {
  direction: ltr;
/* Preferred icon size */
  display: inline-block;
  font-family: 'Material Icons';
/* Support for IE. */
  font-feature-settings: 'liga';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-decoration: none;
/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
/* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
}
.md-icon.error:before {
  content: '\e000';
}
.md-icon.error_outline:before {
  content: '\e001';
}
.md-icon.warning:before {
  content: '\e002';
}
.md-icon.add_alert:before {
  content: '\e003';
}
.md-icon.album:before {
  content: '\e019';
}
.md-icon.av_timer:before {
  content: '\e01b';
}
.md-icon.closed_caption:before {
  content: '\e01c';
}
.md-icon.equalizer:before {
  content: '\e01d';
}
.md-icon.explicit:before {
  content: '\e01e';
}
.md-icon.fast_forward:before {
  content: '\e01f';
}
.md-icon.fast_rewind:before {
  content: '\e020';
}
.md-icon.games:before {
  content: '\e021';
}
.md-icon.hearing:before {
  content: '\e023';
}
.md-icon.high_quality:before {
  content: '\e024';
}
.md-icon.loop:before {
  content: '\e028';
}
.md-icon.mic:before {
  content: '\e029';
}
.md-icon.mic_none:before {
  content: '\e02a';
}
.md-icon.mic_off:before {
  content: '\e02b';
}
.md-icon.movie:before {
  content: '\e02c';
}
.md-icon.library_add:before {
  content: '\e02e';
}
.md-icon.library_books:before {
  content: '\e02f';
}
.md-icon.library_music:before {
  content: '\e030';
}
.md-icon.new_releases:before {
  content: '\e031';
}
.md-icon.not_interested:before {
  content: '\e033';
}
.md-icon.pause:before {
  content: '\e034';
}
.md-icon.pause_circlr_filled:before {
  content: '\e035';
}
.md-icon.pause_circle_outline:before {
  content: '\e036';
}
.md-icon.play_arrow:before {
  content: '\e037';
}
.md-icon.play_circle_filled:before {
  content: '\e038';
}
.md-icon.play_circle_outline:before {
  content: '\e039';
}
.md-icon.playlist_add:before {
  content: '\e03b';
}
.md-icon.queue:before {
  content: '\e03c';
}
.md-icon.queue_music:before {
  content: '\e03d';
}
.md-icon.radio:before {
  content: '\e03e';
}
.md-icon.recent_actors:before {
  content: '\e03f';
}
.md-icon.repeat:before {
  content: '\e040';
}
.md-icon.repeat_one:before {
  content: '\e041';
}
.md-icon.replay:before {
  content: '\e042';
}
.md-icon.shuffe:before {
  content: '\e043';
}
.md-icon.skip_next:before {
  content: '\e044';
}
.md-icon.akip_previous:before {
  content: '\e045';
}
.md-icon.snooze:before {
  content: '\e046';
}
.md-icon.stop:before {
  content: '\e047';
}
.md-icon.subtitles:before {
  content: '\e048';
}
.md-icon.surround_sound:before {
  content: '\e049';
}
.md-icon.video_library:before,
.md-icon.library_video:before {
  content: '\e04a';
}
.md-icon.videocam:before {
  content: '\e04b';
}
.md-icon.videocam_off:before {
  content: '\e04c';
}
.md-icon.volume_down:before {
  content: '\e04d';
}
.md-icon.volume_mute:before {
  content: '\e04e';
}
.md-icon.volume_off:before {
  content: '\e04f';
}
.md-icon.volume_up:before {
  content: '\e050';
}
.md-icon.web:before {
  content: '\e051';
}
.md-icon.hd:before {
  content: '\e052';
}
.md-icon.sort_by_alpha:before {
  content: '\e053';
}
.md-icon.air_play:before {
  content: '\e055';
}
.md-icon.forward_10:before {
  content: '\e056';
}
.md-icon.forward_30:before {
  content: '\e057';
}
.md-icon.forward_5:before {
  content: '\e058';
}
.md-icon.replay_10:before {
  content: '\e059';
}
.md-icon.replay_30:before {
  content: '\e05a';
}
.md-icon.replay_5:before {
  content: '\e05b';
}
.md-icon.add_to_queue:before {
  content: '\e05c';
}
.md-icon.fiber_dvr:before {
  content: '\e05d';
}
.md-icon.fiber_new:before {
  content: '\e05e';
}
.md-icon.playlist_play:before {
  content: '\e05f';
}
.md-icon.art_track:before {
  content: '\e060';
}
.md-icon.fiber_manual_record:before {
  content: '\e061';
}
.md-icon.fiber_smart_record:before {
  content: '\e062';
}
.md-icon.music_video:before {
  content: '\e063';
}
.md-icon.subscriptions:before {
  content: '\e064';
}
.md-icon.playlist_add_check:before {
  content: '\e065';
}
.md-icon.queue_play_next:before,
.md-icon.play_next_queue:before {
  content: '\e066';
}
.md-icon.remove_from_queue:before {
  content: '\e067';
}
.md-icon.slow_motion_video:before {
  content: '\e068';
}
.md-icon.web_asset:before {
  content: '\e069';
}
.md-icon.fiber_pin:before {
  content: '\e06a';
}
.md-icon.branding_watermark:before {
  content: '\e06b';
}
.md-icon.call_to_action:before {
  content: '\e06c';
}
.md-icon.featured_play_list:before {
  content: '\e06d';
}
.md-icon.featured_video:before {
  content: '\e06e';
}
.md-icon.note:before {
  content: '\e06f';
}
.md-icon.video_call:before {
  content: '\e070';
}
.md-icon.video_label:before {
  content: '\e071';
}
.md-icon.business:before {
  content: '\e0af';
}
.md-icon.call:before {
  content: '\e0b0';
}
.md-icon.call_end:before {
  content: '\e0b1';
}
.md-icon.call_made:before {
  content: '\e0b2';
}
.md-icon.call_merge:before {
  content: '\e0b3';
}
.md-icon.call_missed:before {
  content: '\e0b4';
}
.md-icon.call_received:before {
  content: '\e0b5';
}
.md-icon.call_split:before {
  content: '\e0b6';
}
.md-icon.chat:before {
  content: '\e0b7';
}
.md-icon.clear_all:before {
  content: '\e0b8';
}
.md-icon.comment:before {
  content: '\e0b9';
}
.md-icon.contacts:before {
  content: '\e0ba';
}
.md-icon.dialer_sip:before {
  content: '\e0bb';
}
.md-icon.dialpad:before {
  content: '\e0bc';
}
.md-icon.email:before {
  content: '\e0be';
}
.md-icon.forum:before {
  content: '\e0bf';
}
.md-icon.import_export:before {
  content: '\e0c3';
}
.md-icon.invert_colors_off:before {
  content: '\e0c4';
}
.md-icon.live_help:before {
  content: '\e0c6';
}
.md-icon.location_off:before {
  content: '\e0c7';
}
.md-icon.location_on:before {
  content: '\e0c8';
}
.md-icon.message:before {
  content: '\e0c9';
}
.md-icon.chat_bubble:before {
  content: '\e0ca';
}
.md-icon.chat_bubble_outline:before {
  content: '\e0cb';
}
.md-icon.no_sim:before {
  content: '\e0cc';
}
.md-icon.phone:before {
  content: '\e0cd';
}
.md-icon.portable_wifi_off:before {
  content: '\e0ce';
}
.md-icon.contact_phone:before {
  content: '\e0cf';
}
.md-icon.contact_mail:before {
  content: '\e0d0';
}
.md-icon.ring_volume:before {
  content: '\e0d1';
}
.md-icon.speaker_phone:before {
  content: '\e0d2';
}
.md-icon.stay_current_landscape:before {
  content: '\e0d3';
}
.md-icon.stay_current_portrait:before {
  content: '\e0d4';
}
.md-icon.stay_primary_landscape:before {
  content: '\e0d5';
}
.md-icon.stay_primary_portrait:before {
  content: '\e0d6';
}
.md-icon.swap_calls:before,
.md-icon.call_swap:before {
  content: '\e0d7';
}
.md-icon.textsms:before {
  content: '\e0d8';
}
.md-icon.voicemail:before {
  content: '\e0d9';
}
.md-icon.vpn_key:before {
  content: '\e0da';
}
.md-icon.phonelink_erase:before {
  content: '\e0db';
}
.md-icon.phonelink_lock:before {
  content: '\e0dc';
}
.md-icon.phonelink_ring:before {
  content: '\e0dd';
}
.md-icon.phonrlink_setup:before {
  content: '\e0de';
}
.md-icon.present_to_all:before {
  content: '\e0df';
}
.md-icon.import_contacts:before {
  content: '\e0e0';
}
.md-icon.mail_outline:before,
.md-icon.email_outline:before {
  content: '\e0e1';
}
.md-icon.screen_share:before {
  content: '\e0e2';
}
.md-icon.stop_screen_share:before {
  content: '\e0e3';
}
.md-icon.call_missed_outgoing:before {
  content: '\e0e4';
}
.md-icon.rss_feed:before {
  content: '\e0e5';
}
.md-icon.keyboard_arrow_down:before {
  content: '\e313';
}
.md-icon.keyboard_arrow_left:before {
  content: '\e314';
}
.md-icon.keyboard_arrow_right:before {
  content: '\e315';
}
.md-icon.keyboard_arrow_up:before {
  content: '\e316';
}
.md-icon.arrow_back:before {
  content: '\e5c4';
}
.md-icon.arrow_drop_down:before {
  content: '\e5c5';
}
.md-icon.arrow_drop_down_circle:before {
  content: '\e5c6';
}
.md-icon.arrow_drop_up:before {
  content: '\e5c7';
}
.md-icon.arrow_forward:before {
  content: '\e5c8';
}
.md-icon.cancel:before {
  content: '\e5c9';
}
.md-icon.check:before {
  content: '\e5ca';
}
.md-icon.chevron_left:before {
  content: '\e5cb';
}
.md-icon.chevron_right:before {
  content: '\e5cc';
}
.md-icon.close:before {
  content: '\e5cd';
}
.md-icon.expand_less:before {
  content: '\e5ce';
}
.md-icon.expand_more:before {
  content: '\e5cf';
}
.md-icon.fullscreen:before {
  content: '\e5d0';
}
.md-icon.fullscreen_exit:before {
  content: '\e5d1';
}
.md-icon.menu:before {
  content: '\e5d2';
}
.md-icon.arrow_upward:before {
  content: '\e5d8';
}
.md-icon.first_page:before {
  content: '\e5dc';
}
.md-icon.arrow_downward:before {
  content: '\e5db';
}
.md-icon.code:before {
  content: '\e86f';
}
.md-icon.dns:before {
  content: '\e875';
}
.md-icon.home:before {
  content: '\e88a';
}
.md-icon.info:before {
  content: '\e88e';
}
.md-icon.info_outline:before {
  content: '\e88f';
}
/* &.:before
   content "\e145"
   &.:before
   content "\e146"
   &.:before
   content "\e147"
   &.:before
   content "\e148"
   &.:before
   content "\e149"
   &.:before
   content "\e14a"
   &.:before
   content "\e14b"
   &.:before
   content "\e14c"
   &.:before
   content "\e14d"
   &.:before
   content "\e14e"
   &.:before
   content "\e14f"
   &.:before
   content "\e150"
   &.:before
   content "\e151"
   &.:before
   content "\e152"
   &.:before
   content "\e153"
   &.:before
   content "\e154"
   &.:before
   content "\e155"
   &.:before
   content "\e156"
   &.:before
   content "\e157"
   &.:before
   content "\e158"
   &.:before
   content "\e159"
   &.:before
   content "\e15a"
   &.:before
   content "\e15b"
   &.:before
   content "\e15c"
   &.:before
   content "\e15d"
   &.:before
   content "\e15e"
   &.:before
   content "\e15f"
   &.:before
   content "\e160"
   &.:before
   content "\e161"
   &.:before
   content "\e162"
   &.:before
   content "\e163"
   &.:before
   content "\e164"
   &.:before
   content "\e165"
   &.:before
   content "\e166"
   &.:before
   content "\e167"
   &.:before
   content "\e168"
   &.:before
   content "\e169"
   &.:before
   content "\e16a"
   &.:before
   content "\e16b"
   &.:before
   content "\e16c"
   &.:before
   content "\e16d"
   &.:before
   content "\e" */
